<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOSISTEMAS</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_flora.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans:wght@600&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
</head>
<body class="fondoEcosistemas">
    <section class=" fixed-top">
    <header>
        <h1>Biodiversidad de Boyacá y Cundinamarca.
        </h1>
    </header>  
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('introduccion')}}">BioDivercidad</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('introduccion')}}"
                >Introducción</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{url_for('Flora_Boyaca_y_Cundinamarca')}}"
                >Flora</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('Fauna')}}">Fauna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('Ecosistemas')}}"
                >Ecosistemas</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('REFERENCIAS')}}"
                >Destinos</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('contactanos')}}"
                >Contactanos</a
              >
            </li>
          </ul>
         
        </div>
      </div>
    </nav>        
</section>
<main class="main-cuerpo">
<div class="container transparente" id="ecosistemas">
    <p class="text">
    El ecosistema es el conjunto de especies de un área determinada que interactúan entre ellas y con su ambiente abiótico; mediante procesos como la depredación, el parasitismo, la competencia y la simbiosis, y con su ambiente al desintegrarse y volver a ser parte del ciclo de energía y de nutrientes. Las especies del ecosistema, incluyendo bacterias, hongos, plantas y animales dependen unas de otras. Las relaciones entre las especies y su medio, resultan en el flujo de materia y energía del ecosistema.
    <p class="text">
    En Altiplano cundiboyacense es un espacio de tierras altas y bajas, lo cual desemboca en una alta variedad de ecosistemas como el pie de monte llanero, el bosque andino, alto andino, húmedo tropical y zonas de páramo.
    <p class="text">
    Se ubica en la coordillera oriental de los andes, este limita entre los departamentos de Boyaca y cundinamarca.
    La riqueza hídrica del departamento empieza con los páramos y las lagunas glaciares que se encuentran a lo largo de la cordillera Oriental, en la alta montaña (arriba de los 3.000 m.s.n.m.). De ellas desciende el agua que nutre cinco cuencas hidrográficas con los ríos: Magdalena, Suárez, Chicamocha, Arauca y Meta, y las subcuencas de los ríos Guavio, Cravo Sur, Lengupá, Upía, Cusiana y Pauto.
    <p class="text">

    <h2>Clases de Bosques. </h2>
    
    <h3> <li>Bosque seco Tropical.</li></h3>
      
    <p>Se localiza en alturas entre los 150 a 850 msnm, con precipitaciones entre los 1.000 a 2.000 mm y temperaturas superiores a los 24°C., ocupa el 8,56% del territorio y se localiza
        en los municipios de Puerto Boyacá, Quípama, Muzo y Páez.</li>
   
     <h3><li>Bosque muy seco Tropical. </li></h3>

    <p>Se localiza en alturas entre los 150 a 850 msnm, con precipitaciones entre los 500 a 1.000 mm y temperaturas superiores
        a los 24°C., ocupa el 0,28% del territorio y se localiza en los
        municipios de Puerto Boyacá, Quípama, Muzo y Páez sobre
        las riberas de los ríos Magdalena, Minero y Upía. </p>

    <h3> <li>Bosque húmedo tropical.</li></h3>
    
    <p>Se localiza en alturas entre los 150 a 850 msnm, con precipitaciones entre los 2.000 a 4.000 mm, y temperaturas superiores a los 24°C., ocupa el 3.63% del territorio y se localiza en
        los municipios Otanche, San pablo de Borbur, Pauna,Maripí, Ubate,Tequedama, Sabana centro,provicia almeidas.
     </p>


    
    <h3> <li>Bosque húmedo premontano.</li></h3>
    <p>Se localiza en alturas entre los 850 a 2.000 msnm, con precipitaciones entre los 1.000 a 2.000 mm y con temperaturas entre los 17 a 24°C., ocupa el 5,31% del territorio y se localiza
        principalmente en los municipios de Puerto Boyacá, Quípama,
        La Victoria, Muzo, Briceño, Coper, San José de Pare, Zetaquirá, Rondón, Miraflores, Páez, Aquitania, Boavita, Soatá,
        Susacón y Chita.</p>
        
    <h3><li>Bosque seco montano bajo.</li></h3>
    <p>Se localiza en alturas entre los 2.000 a 2.800 msnm, con precipitaciones entre los 500 a 1.000 mm y temperaturas entre
        los 12 a 17°C., ocupa el 12,51% del territorio y se localiza
        principalmente en los municipios de Gachantivá, Arcabuco,
        Sutamarchán, Sáchica, Tuta, Firavitoba, Toca, Oicatá, Iza,
        San Eduardo, Miraflores, Nobsa, Betéitiva, Belén, Cerinza,
        Sativasur, Jericó, Socha, El Espino, Guacamayas, San Mateo
        y Tipacoque.</p>
    <h3> <li>Bosque seco premontano. </li></h3>
    <p>Se localiza en alturas entre los 850 a 2.000 msnm, con precipitaciones entre los 500 a 1.000 mm y temperaturas entre los
        17 a 24°C., ocupa el 5,48% del territorio y se localiza en los
        municipios de Quípama, Muzo, Moniquirá, Togüí, Chitaraque,
        Berbeo, Miraflores, Páez, Aquitania, Sativasur, Jericó, Tipacoque, Covarachía y San Mateo.</p>
    
        


    <h2>Zona seca o subxerofítica</h2>
    
    <p>Es un ecosistema que presenta las condiciones más difíciles
        y de mayor adaptación para la flora y fauna, recibe pocas
        precipitaciones y la presencia de vida es limitada, pero depende 
        de la clase de zona seca; en muchos existen diversas
        formas de vida, la vegetación se adapta a la poca humedad
        (matorral xerófilo) y la fauna usualmente se resguarda durante
        el día para preservar humedad. En Corpoboyacá existen dos
        ecosistemas de este tipo que ocupan 1,5 % de la jurisdicción
        las cuales presentan condiciones típicas de un bosque seco
        montano bajo.</p>

    <h2>Serranías </h2>
    <p>Está conformada por una sucesión de montañas de elevada
        pendiente que se extienden por varios kilómetros y cuya cima
        generalmente termina en picos. Sobresalen en el territorio dos
        áreas que ocupan el 2,8% de la jurisdicción. </p>

    <h2>Cuchillas</h2>
    <p>Son pequeñas y suaves elevaciones que se pueden presentar
        aisladas o agrupadas, con pendientes y desniveles pronunciados; sobre el territorio de Corpoboyacá se identifican cuatro
        áreas representativas que ocupan el 1,24% de la jurisdicción. </p>
    <h2>Ciénagas, Lagos y Embalses.</h2>
     <p>Las Ciénagas hacen parte de las aguas superficiales y son depósitos
        naturales de agua dulce y/o salada de extensión variable, con poca
        profundidad. En temporadas lluviosas las Ciénagas se convierten en
        áreas de acumulación del agua de los ríos, contribuyendo a que las
        inundaciones sean menos perjudiciales. (IGAC, 2012). </p>
    
     <p>Por su tamaño y aporte a la biodiversidad en jurisdicción de Corpoboyacá se han caracterizado dos ciénagas localizadas en el municipio de Puerto Boyacá, su área promedio ocupa 5.920 ha, su principal función ecosistémica como humedal es la regulación hídrica
        además de ser un área de hábitat transitorio para aves migratorias.
        Los Lagos constituyen acumulaciones de agua dulce o salada de
        gran magnitud que se depositan en depresiones de corteza terrestre; el lago más importante en Colombia es el Lago de Tota, (IGAC,
        2012) ubicado sobre los 3.000. </p>

    <p>Los Embalses son grandes depósitos artificiales de agua, construidos
        generalmente cerrando la boca de un valle mediante un dique o
        presa, que retiene las aguas de un río o de la lluvia para utilizarlas en el riego, abastecer poblaciones o producir energía. El embalse
        de La Copa fue construido en 1988 con el objeto de controlar las
        crecientes del río Chicamocha, reducir los riesgos de inundación y
        almacenar 70.000.000 metros cúbicos de agua que son utilizadas
        para alimentar el distrito del Alto Chicamocha (Uniboyacá, 2013).
        El embalse La Playa fue construido con el mismo objetivo, controlar
        las inundaciones y servir de soporte en épocas de sequía. </p>
     Acontinuacion nombraremos  algunos de los paramos mas representativos del teritorio cundiboyacense:
     <li>El Parque Nacional Natural Páramo de pisba.</li>
     <li>Santuario de Fauna y Flora Guanentá Alto Río Fonce.</li>
     <li>Parque Nacional Natural El Cocuy.</li>
     <li>Santuario de Fauna y Flora Iguaque y Merchan</li>
     <li>Alto de las Flores.</li>
     <li>Páramo de Chingaza.</li>
     <li>Páramo de Cruz verde.</li>
     <li>Páramo de Sumapaz.</li>
     <li>Páramo de Rabanal.</li>
     <li>Alto de las Flores.</li>
     
     <P>Esto hace de la region una gran fuente de biodiversidad  ya que en los anteriormente
        nonbrados se convierten en pricipales resintos de fauna y flora.
    </P>
    Las aves hacen parte de la vida diaria
    de las comunidades en ambientes urbanos y rurales. En el campo, no hay
    día que pase sin que alguien escuche o vea un ave, las encontramos en los techos
    de las viviendas, en el parque, en la huerta y en el bosque. De varias formas,
    muchos colores y un amplio repertorio de cantos, estos animales que
    fascinan con sus formas, cantos y colores hacen parte del paisaje del Altiplano,  estas aves cumople varios  roles como la polinizacion,
    la dispersion de semillas, fertilizacion de suelos y muchas de ellas cumple con un control de plagas.

    <p>Con respecto a la flora se encuentran varias especies de frailejones, especies florales, arbustos 
    (como el siete cueros), uva de anís (fruto comestible) y el pegapega o pegamosco entre otros.</p>

   <p>Dentro de la fauna se puede observa Condor de los Andes,Oso de anteojos,Venado,Tigrillo,Tucán cabe resaltar 
    que cundinamrca Tiene 13.136 especies entre plantas, invertebrados, vertebrados, algas, líquenes y hongos. Posee una 
    riqueza natural representada en un total de 2´097.332 hectáreas declaradas como áreas protegidas, 
    algunas de carácter nacional y regional y boyaca aporta 11.731, equivalentes a 14.7%.


</p>   
    




</div>
</main>
<!--footer-->      

    <footer>
        <p>© 2024 Flora de Boyacá y Cundinamarca</p>
    </footer>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
    
</body>
</html>