<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flora de Boyacá y Cundinamarca</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_flora.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body class="fondoFlora">
    <section class="fixed-top">
    <header>
        <h1>Flora de Boyacá y Cundinamarca</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('introduccion')}}">BioDivercidad</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('introduccion')}}"
                  >Introducción</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="{{url_for('Flora_Boyaca_y_Cundinamarca')}}"
                  >Flora</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('Fauna')}}">Fauna</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('Ecosistemas')}}"
                  >Ecosistemas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('REFERENCIAS')}}"
                  >Destinos</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('contactanos')}}"
                  >Contactanos</a
                >
              </li>
            </ul>
           
          </div>
        </div>
      </nav> 
    </section>
    <main class="main-cuerpo">
    <div class="container transparente" id="boyaca"> 
        <h2>Boyacá</h2>
        <p>La flora de Boyacá, Colombia, es diversa y rica debido a su variada geografía y climas.
             Boyacá cuenta con una gran variedad de ecosistemas que van desde páramos hasta bosques tropicales.
              Entre las especies más destacadas se encuentran:</p>
        <h3>Especies destacadas:</h3>
        <ul>
        <h3> 1. páramos:</h3>
        <p><img src="../imagenes/paramos.jpeg" alt=""></p>
            <li>  Son ecosistemas únicos y vitales para la regulación del agua.
                 En Boyacá, los páramos albergan especies como el frailejón (Espeletia spp.), 
                 el chuquiragua (Chuquiraga spp.), el lupino (Lupinus spp.)
                 y diversas especies de plantas carnívoras y orquídeas.</li>
        <h3> 2.	Bosques de niebla:</h3>
        <p><img src="../imagenes/bosque_niebla.jpeg" alt=""></p>
            <li> Estos bosques se encuentran en zonas montañosas y húmedas.
                 Aquí, se pueden encontrar especies como el cedro (Cedrela spp.), el roble (Quercus spp.),
                  el arrayán (Myrcianthes spp.) y una gran diversidad de helechos y bromelias.</li>
        <h3> 3.	Bosques tropicales:</h3>          
            <li> En las zonas más bajas y cálidas de Boyacá, los bosques tropicales
                 albergan una gran variedad de especies arbóreas como la ceiba (Ceiba pentandra), 
                 el guayacán (Tabebuia spp.),la caoba (Swietenia spp.) y el cedro rosado (Cedrela odorata), 
                 entre otros.</li>
        <h3> 4.	Vegetación de montaña:</h3>              
            <li> En las laderas de las montañas, se encuentran especies adaptadas 
                a condiciones más secas y rocosas, como el cactus (Cactaceae spp.), el agave (Agave spp.), 
                el frailejón enano (Espeletia spp.) y diversas especies de arbustos y hierbas.</li>

            <h4>Algunos lugares destacados por su riqueza y diversidad florística en Boyacá incluyen:</h4>
           
            <h3> 1.	Parque Nacional Natural Pisba:</h3> 
            <p><img src="../imagenes/pisba.jpeg" alt=""></p>             
            <li> Este parque se encuentra en el municipio de Pesca y alberga una gran diversidad de flora y fauna.
                 En sus páramos y bosques de niebla se pueden encontrar especies emblemáticas como
                 el frailejón y una variedad de orquídeas.</li>

            <h3>2.	Santuario de Fauna y Flora Guanentá Alto Río Fonce:</h3>              
            <li> Ubicado en la parte oriental de Boyacá, este santuario es conocido por su biodiversidad y belleza natural. Alberga una variedad de
                 ecosistemas, desde páramos hasta bosques nublados, donde se pueden encontrar especies vegetales únicas.</li>
            
            <h3> 3.	Páramo de Ocetá :</h3>              
                 <li> Este páramo, ubicado en el municipio de Monguí, es conocido por su belleza escénica y su diversidad biológica. Aquí se pueden observar extensos campos de 
                    frailejones y una variedad de especies de flora adaptadas a las condiciones extremas de altitud.</li>

            <h3> 4.	Valle de Sutamarchán :</h3>              
                 <li> Esta zona es famosa por sus cultivos de flores, especialmente las hermosas rosas de exportación. Además de los cultivos, 
                    el valle también cuenta con una vegetación natural variada, que incluye especies nativas y ornamentales</li>
            </ul>
    </div>
    <div class="container transparente" id="cundinamarca">
        <h2>Cundinamarca</h2>
        <p>Cundinamarca, al igual que Boyacá, es una región de Colombia con una gran diversidad 
            de flora debido a sus variadas condiciones climáticas y geográficas. 
            Entre las especies más destacadas que se pueden encontrar en Cundinamarca están:</p>
        <h3>Especies destacadas:</h3>
        <ul>
            <h3> 1.	Bosques de niebla :</h3>  
            <li> En las zonas montañosas de Cundinamarca, 
                los bosques de niebla son comunes y albergan una gran diversidad de especies vegetales. 
                Entre ellas se encuentran árboles como el roble (Quercus spp.), el cedro (Cedrela spp.), 
                el arrayán (Myrcianthes spp.)y una amplia variedad de epífitas, como orquídeas, bromelias y helechos.</li>
           
            <h3>2.	Páramos: Al igual que Boyacá:</h3> 
            <li> Cundinamarca cuenta con páramos que son vitales
                para la regulación del agua y albergan especies únicas adaptadas a las condiciones extremas de altura. 
                Entre las especies más emblemáticas se encuentran los frailejones (Espeletia spp.),
                 el chuquiragua (Chuquiraga spp.) y diversas especies de plantas carnívoras.</li>
            <h3>3.	Bosques tropicales:</h3>  
                    <li> En las zonas más bajas y cálidas de Cundinamarca,
                 se encuentran bosques tropicales que albergan una gran diversidad de especies arbóreas,
                  como la ceiba (Ceiba pentandra), 
                el guayacán (Tabebuia spp.), la caoba (Swietenia spp.) y el cedro rosado (Cedrela odorata).</li>
            <h3>4.	Vegetación de montaña:</h3>
                   <li> En las laderas de las montañas, se pueden encontrar especies 
                adaptadas a condiciones más secas y rocosas, como cactus, 
                agaves y una variedad de arbustos y hierbas.</li>
        
                <h5> En Cundinamarca, hay varios lugares con una flora excepcionalmente hermosa. Uno de los más destacados es el Parque Natural Chingaza. Este parque nacional se encuentra ubicado en la cordillera oriental de los Andes, abarcando partes de los departamentos de Cundinamarca y Meta. Aquí encontrarás
                     una variedad impresionante de flora debido a la diversidad de ecosistemas presentes en el parque.</h5>

                     <h3> 1.	Páramos: :</h3>              
                     <li> Chingaza es hogar de extensos páramos, donde puedes encontrar una gran cantidad de frailejones, plantas emblemáticas de estos ecosistemas.
                         Los frailejones forman paisajes surrealistas que son verdaderamente impresionantes.</li>
                        
                     <h3> 2.	Bosques de niebla: </h3>              
                         <li> Los bosques nublados de Chingaza albergan una abundante vegetación, 
                            incluyendo una variedad de especies de orquídeas, bromelias, helechos y árboles
                             como el roble y el cedro.</li>
                    <h3> 3.	Cascadas y ríos </h3>              
                        <li> : Además de la vegetación terrestre, Chingaza cuenta con numerosas cascadas y 
                            ríos que brindan hábitats únicos para una diversidad de 
                            plantas acuáticas y ribereñas.</li>   
                            <p class="text">       
                    <p>Otro lugar destacado es el Parque Nacional Natural Sumapaz, 
                        que también se encuentra en Cundinamarca. Este parque es el hogar del páramo más grande del mundo y
                         alberga una variedad única de flora adaptada a las duras condiciones de altitud y clima. 
                        </P>

         </ul>
    </div>

</main>

    
    
        <footer>
            <p>© 2024 Destinos turismo Boyaca Y Cundinamarca</p>
        </footer>
        <script src="{{url_for('static',filename='js/script.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    
</body>

</html>