<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduccion</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_flora.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"/>
    
  </head>
  <body class="fondoIntroduccion">
    <section class="fixed-top">
      <header>
        <h1>Biodiversidad de Boyacá y Cundinamarca.</h1>
      </header>
      <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('introduccion')}}">BioDivercidad</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('introduccion')}}"
                  >Introducción</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="{{url_for('Flora_Boyaca_y_Cundinamarca')}}"
                  >Flora</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('Fauna')}}">Fauna</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('Ecosistemas')}}"
                  >Ecosistemas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('REFERENCIAS')}}"
                  >Destinos</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('contactanos')}}"
                  >Contactanos</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <section class="main-cuerpo">
      <div class="container transparente" id="Introducción mt-auto">
        <div class="video">
          <center>
            <video width="640" height="360" controls>
              <source src="../static/videos/Boyaca_es_Biodiversa.mp4" type="video/mp4">
            </video>
          </center>
        </div>
        
       
        <p class="text">
          
          Colombia es un país en el que actualmente se puede evidenciar una alta
          riqueza en biodiversidad de especies como plantas, animales, hongos y
          microorganismos que son relevantes en cuanto a su variabilidad
          genética en sus ecosistemas.Su gran posicionamiento geográfico le
          permite gozar de climas tropicales que contribuyen en los procesos
          ecológicos y evolutivos de los ecosistemas.
        </p>

        <p class="text">
          De sus 32 departamentos Boyacá y Cundinamarca son regiones que
          contribuyen ampliamente en ecosistemas que van desde ecosistemas
          acuáticos como paisajes conformados por relieves bajos y planos hasta
          montañosos, cuenta con un alto porcentaje de paramos con el del
          Sumapaz y el páramo del Pisba esto hace de la región cundiboyacense un
          sector potencial para el turismo y el estudio biológico por parte de
          entidades dedicadas a la investigación.
        </p>

        <p class="text">
          Este espacio te invitamos a conocer un poco más de las maravillas con
          las que cuenta nuestro territorio ya que como seres vivos formamos
          parte de este ecosistema y dependemos de él, con ello enriquecemos
          nuestros conocimientos con el fin de aportar a su conservación,
          protección y recuperación.
        </p>
      </div>
    </section>

    <footer>
      <p>© 2024 Flora de Boyacá y Cundinamarca</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
  </body>
</html>
